<section class="new-background"></section> 
<div class="new-div">
<div class="new-card">
    
    <h2>create New Sneaker</h2>
    <div class="row1">
      <div class="col1">
        <div class="form-group1">
            <form action="/sneaker" method="POST">
                <label>Name</label>
                <input class="new-input"  type="text" name='name' id='name'>
        </div>
    </div>
  
    <div class="col1">
        <div class="form-group1">
          <label>Brand</label>
          <input class="new-input"  type="text" name='brand' id='brand'>
        </div>
    </div>
  
      <div class="col1">
        <div class="form-group1">
          <label>ColorWay</label>
          <input class="new-input"  type="text" name='colorWay' id='colorWay'>
        </div>
    </div>
    <div class="col1">
        <div class="form-group1">
          <label>Image Link</label>
          <input class="new-input"  type="text" name='img' id='img'>
        </div>
    </div>
  
      <div class="col1">
        <div class="form-group1">
          <label>Size</label>
          <input class="new-input"  type="text" name='size' id='size'>
        </div>
    </div>
  
    <div class="col1">
        <div class="form-group1">
            <label for="worn"># worn</label>
            <input class="new-input"  type="text" name='worn' id='worn'>
        </div>
      </div>
  
      <div class="col1">
        <input class="new-input" type="submit" value='Add Sneaker'>
    </form>
      </div>
    </div>
</div>


